<div class="container">
  <div>
    <h4>Enter:</h4>
    <form #echoForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <!--label for="text">min</label-->
        <input type="text" class="form-control" id="text"
          [(ngModel)]="echo.text" name="text">
      </div>
      <div class="form-group">
        <input type="hidden" class="form-control" id="echo"
          [(ngModel)]="echo.echo" name="echo">
      </div>
      <button type="submit" class="btn btn-success" [disabled]="!echoForm.form.valid">Submit</button>
      <button type="button" class="btn btn-default" (click)="newEcho();">Reset</button>
    </form>
  </div>

  <div>
    <h4>{{echo.echo}}</h4>
  </div>
</div>